Jazz up navigation links */
header nav {
  text-align: center; 
}

header nav a {
  display: inline-block; 
  padding: 10px; 
  background-color: grey; 
}


.caption {
  font-size: 14px; 
  text-align: center; 
}

#featured-property p {
  width: 800px; 
  margin: 20px auto; 
}


#details div {
  float: left; 
}


.bottom-div {
  background-color: lightgrey; 
  text-align: center; 
  width: 25%; 
  float: left; 
  box-sizing: border-box; 
  padding: 20px;